:root {
    --fonte_header_01: 'Inter', sans-serif;
    --fonte_header_02: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*------ CABEÇALHO ------*/
header {
    display: flex;
    height: auto;
    width: 100%;
    padding: 1%;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: linear-gradient(90deg, rgba(11, 11, 11, 1) 0%,
            rgba(26, 13, 12, 1) 59%, rgba(170, 35, 21, 1) 100%)
}

.texto_cabecalho {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 30%;
    height: auto;

    & a {
        background: #FFFE4A;
        background: linear-gradient(177deg, rgba(255, 254, 74, 1) 22%, rgba(255, 217, 1, 1) 78%);
        text-decoration: none;
        color: black;
        width: 70%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        border-radius: 15px;
        font-weight: bold;
        transition: 0.5s;
    }

    & a img {
        height: 24px;
        width: 24px;
    }

    & a:hover {
        transition: 0.5s;
        transform: scale(1.05);
    }

    & .titulo_cabecalho {
        font-size: 40px;
    }

    & .subtitulo_cabecalho {
        font-size: 20px;
    }
}

header .texto_cabecalho h1,
header .texto_cabecalho .titulo_cabecalho,
header .texto_cabecalho .oferta_cabecalho,
header .texto_cabecalho .subtitulo_cabecalho,
header .texto_cabecalho .beneficios_cabecalho {
    color: white;
    font-family: var(--fonte_header_01);
}

.texto_cabecalho h5 {
    font-weight: 10;
    display: flex;
    align-items: center;
}

.texto_cabecalho h5 img {
    height: 30px;
    width: 17x;
}

.texto_cabecalho .titulo_cabecalho span {
    background: linear-gradient(90deg, rgba(255, 71, 71, 1) 22%, rgba(246, 227, 35, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.texto_cabecalho .subtitulo_cabecalho span {
    font-weight: 600;
}

.beneficios_cabecalho {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    & .texto_benecicios_cabecalho {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

.imagens_cabecalho {
    position: relative;
    height: auto;

    & .imagem_suplemento_cabecalho {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
    }

    & .imagem_comprimido1_cabecalho {
        position: absolute;
        z-index: 3;
        right: 68%;
        top: 26%;
    }

    & .imagem_folha1_cabecalho {
        position: absolute;
        z-index: 3;
        right: 58%;
        top: 60%;
        width: 160px;
        height: 160px;
    }

    & .imagem_comprimido2_cabecalho {
        position: absolute;
        z-index: 1;
        right: 18%;
        top: 60%;
        width: 90px;
        height: 90px;
    }

    & .imagem_folha2_cabecalho {
        position: absolute;
        z-index: 3;
        right: 16%;
        top: 29%;
        width: 100px;
        height: 100px;
    }
}

/*------ FIM DO CABEÇALHO ------*/

/*------ SESSAO BENEFICIOS ------*/

.sessao_beneficios {
    background-color: #F7C417;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    padding: 2%;

    & .sessao_beneficios_texto4,
    .sessao_beneficios_texto3,
    .sessao_beneficios_texto2,
    .sessao_beneficios_texto1 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }


    & .icone_sessao_beneficios {
        height: 30px;
        width: 30px;
    }
}

/*------ FIM DA SESSAO BENEFICIOS ------*/

/*------ INICIO DA SESSAO OFERTAS KITS ------*/

.ofertas_kits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 3%;
    row-gap: 30px;


    & .texto_oferta_kit h1 {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
    }

    & .texto_oferta_kit h1 span {
        background: linear-gradient(94deg, rgba(255, 71, 71, 1) 0%, rgba(207, 192, 27, 1) 97%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.sessao_kits {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2%;

    & .kit,
    .kit_meio {
        background-color: white;
        padding: 2%;
        height: auto;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        transition: 0.5s;
        border: 1px solid gray;
    }

    & .kit:hover,
    .kit_meio:hover {
        transition: 0.5s;
        transform: scale(1.05);
    }

    & .topo_kit,
    .topo_kit_meio {
        background-color: #0B0B0B;
        color: white;
        padding: 4%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        margin-bottom: 30px;
    }

    & .topo_kit_meio {
        background: linear-gradient(90deg, rgba(255, 71, 71, 1) 22%, rgba(246, 227, 35, 1) 100%);

    }

    & .kit_precos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

    }

    & .kit_precos p {
        font-size: 50px;
        font-weight: bold;
    }

    & .kit_precos p span {
        font-size: 20px;
        font-weight: normal;
    }

    & .kit_precos .kit_beneficios {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    & .kit_precos .kit_beneficios span {
        font-size: 14px;
        gap: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .kit_precos .kit_beneficios img {
        width: 20px;
        height: 20px;
    }

    & .kit_precos a {
        display: flex;
        justify-content: center;
    }

    & .icones_kit {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
    }

    & .kit_meio {
        background-color: #FFF1C0;
    }

    & .kit .cabecalho,
    .kit_meio .cabecalho {
        display: flex;
        flex-direction: column;
    }

    & .kit .cabecalho span,
    & .kit_meio .cabecalho span {
        font-weight: 10;
        font-size: 20px;
    }

    & .kit img,
    .kit_meio img {
        width: 70%;
        height: 80%;
    }

    & .kit .imagem_kit1 {
        width: 55%;

    }

    & .preco_final_kit {
        font-weight: bold;
    }

    & .preco_final_kit span {
        text-decoration: line-through;
        text-decoration-color: red;
        color: gray;
    }

}

/*------ FIM DA SESSAO OFERTAS KITS ------*/

/*------ INICIO DA SESSAO INFORMAÇOES SUPLEMENTOS ------*/

.sessao_informacoes_suplemento {
    background: #000000;
    background: linear-gradient(142deg, rgba(0, 0, 0, 1) 74%, rgba(170, 35, 21, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;

    & img {
        width: 50%;
    }

    & .oferta_cabecalho {
        color: white;
        font-family: var(--fonte_header_01);
    }

    & .oferta_cabecalho img {
        height: 30px;
        width: 30px;
    }

    & a img {
        height: 24px;
        width: 24px;
    }
}

.texto_info_suplemento {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 10px;

    & .descricao_info_suplemento,
    .titulo_info_suplemento {
        color: white;
    }

    & .titulo_info_suplemento span {
        background: linear-gradient(90deg, rgba(255, 71, 71, 1) 22%, rgba(246, 227, 35, 1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    & a {
        background: #FFFE4A;
        background: linear-gradient(177deg, rgba(255, 254, 74, 1) 22%, rgba(255, 217, 1, 1) 78%);
        text-decoration: none;
        color: black;
        width: 70%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        border-radius: 15px;
        font-weight: bold;
        transition: 0.5s;
    }

    & a:hover {
        transition: 0.5s;
        transform: scale(1.05);
    }
}

/*------ FIM DA SESSAO INFORMAÇOES SUPLEMENTOS ------*/

/*------ Inicio DA SESSAO BENEFICIOS SUPLEMENTOS ------*/

.sessao_beneficios_suplemento {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 3%;
    background-color: #f1f1f1;

    & .texto_beneficios_suplemento {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 7px;
    }

    & .titulo_beneficios_suplemento span {
        background: linear-gradient(90deg, rgba(255, 71, 71, 1) 22%, rgb(223, 207, 33) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    & .subtitulo_beneficios_suplemento {
        width: 60%;
        text-align: center;
    }

    & a {
        background: #FFFE4A;
        background: linear-gradient(177deg, rgba(255, 254, 74, 1) 22%, rgba(255, 217, 1, 1) 78%);
        text-decoration: none;
        color: black;
        width: 20%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        border-radius: 15px;
        font-weight: bold;
        transition: 0.5s;
    }

    & a:hover {
        transition: 0.5s;
        transform: scale(1.05);
    }

    & a img {
        height: 24px;
        width: 24px;
    }

}

.componentes_beneficios_suplemento {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;


    & .comp_beneficios_suplemento {
        padding: 2%;
        background-color: black;
        width: 23%;
        height: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        border-radius: 10px;
    }

    & .texto_comp_beneficios_suplemento {
        color: white;
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 7px;
    }

    & .texto_comp_beneficios_suplemento span {
        font-size: 30px;
        font-weight: bold;
    }

    & .imagem_comp_beneficios_suplemento {
        width: 150px;
        height: 150px;
        padding-bottom: 10%;
    }
}

/*------ FIM DA SESSAO BENEFICIOS SUPLEMENTOS ------*/

/*------ INICIO DA SEGUNDA SESSAO DE INFORMACOES DE SUPLEMENTOS ------*/

.sessao_informacoes_suplemento_segundo {
    background-color: #000000;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imagens/sessao_informacoes_suplemento_dois/00b38a8e64fe4fb969000e1a3fddbd815c30ae05.png);
    background-size: 40% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 35%;

    & .img_principal_info_suplemento_segundo {
        width: 48%;
    }

}

.texto_info_suplemento_segundo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;

    & .cabecalho_oferta_suplemento_segundo {
        color: white;
        display: flex;
        align-items: center;
        gap: 7px;
    }

    & .cabecalho_oferta_suplemento_segundo img {
        height: 30px;
        width: 30px;
    }

    & .titulo_info_suplemento_segundo {
        color: white;
    }

    & .titulo_info_suplemento_segundo span {
        background: linear-gradient(90deg, rgba(255, 71, 71, 1) 22%, rgba(246, 227, 35, 1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    & .descricao_info_suplemento_segundo {
        color: white;
        text-align: center;
    }

    & a {
        background: #FFFE4A;
        background: linear-gradient(177deg, rgba(255, 254, 74, 1) 22%, rgba(255, 217, 1, 1) 78%);
        text-decoration: none;
        color: black;
        width: 50%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        border-radius: 15px;
        font-weight: bold;
        transition: 0.5s;
    }

    & a:hover {
        transition: 0.5s;
        transform: scale(1.05);
    }

    & a img {
        height: 24px;
        width: 24px;
    }
}

.lista_info_suplemento_segundo {
    & .texto_lista_info_suplemento_segundo {
        display: flex;
        color: white;
        gap: 7px;
        align-items: center;
    }
}

/*------ FIM DA SEGUNDA SESSAO DE INFORMACOES DE SUPLEMENTOS ------*/

/*------ INICIO DA SESSAO DE AVALIACAO DE PESSOAS ------*/

.sessao_avaliacao_pessoas {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 7%;

    & .texto_cabecalho_avaliacao_pessoas {
        font-size: 30px;
        font-weight: bold;
    }

    & .texto_cabecalho_avaliacao_pessoas span {
        background: linear-gradient(90deg, rgba(255, 71, 71, 1) 22%, rgba(246, 227, 35, 1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    & .subtitulo_avaliacao_pessoas {
        width: 60%;
        text-align: center;
    }

    & a {
        background: #FFFE4A;
        background: linear-gradient(177deg, rgba(255, 254, 74, 1) 22%, rgba(255, 217, 1, 1) 78%);
        text-decoration: none;
        color: black;
        width: 20%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        border-radius: 15px;
        font-weight: bold;
        transition: 0.5s;
    }

    & a:hover {
        transition: 0.5s;
        transform: scale(1.05);
    }

    & a img {
        height: 24px;
        width: 24px;
    }
}

.componentes_avaliacao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    & .comp_avaliacao {
        background-color: #FFF;
        width: 23%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        border-radius: 10px;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    }
}

.comp_avaliacao {
    & .linha-divisoria {
        width: 80%;
        height: 1px;
        background-color: #ccc;
        margin: 10px 0;
    }

    & img {
        width: 100%;
        padding-bottom: 10%;
        border-radius: 10px;
    }

    & .comentario_avalidor {
        text-align: center;
        font-style: italic;
        color: #333;
        padding: 1%;
    }

    & .nome_idade_avaliador {
        font-weight: bold;
        color: #333;
        padding: 3%;
    }
}

/*------ FIM DA SESSAO DE AVALIACAO DE PESSOAS ------*/

/*------ INICIO DA SESSAO FRETE GRATIS ------*/

.sessao_frete_gratis {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    background-color: #F7C417;
    gap: 10px;
}

.textos_frete_gratis {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & .titulo_frete_gratis {
        font-weight: bold;
        font-size: 40px;
    }

    & .titulo_frete_gratis span {
        color: #606060;
    }

    & .subtitulo_frete_gratis {
        font-size: 20px;
    }

}

/*------ FIM DA SESSAO FRETE GRATIS ------*/

/*------ Inicio DA SESSAO ESTOQUE LIMITADO ------*/

.sessao_estoque_limitado {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    background-color: #000000;
    gap: 10px;
    color: white;

    & .texto_estoque_limitado {
        font-weight: bold;
        font-size: 30px;
        width: 60%;
        text-align: center;
    }

    & .texto_estoque_limitado span {
        color: #F7C417;
    }
}

/*------ FIM DA SESSAO ESTOQUE LIMITADO ------*/

/*------ INICIO DA SEGUNDA AREA DE KITS ------*/
/*fiz uma copia dos componentes da primeira area
de kits e coloquei na segunda area de kits
para economizar tempo, o mesmo foi feito na segunda sessao de beneficios*/
.segunda_area_kits {
    padding: 4%;
}

#beneficios_segundo {
    background-color: white;
}

/*------ FIM DA SEGUNDA AREA DE KITS ------*/

/*------ INICIO DA SESSAO DE CLASSIFICACAO ------*/

.sessao_classificacao {
    padding: 2%;
}

.sessao_classificacao,
.avaliacao_classificacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .estrela_texto_sessao_classificacao {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/*------ FIM DA SESSAO DE CLASSIFICACAO ------*/

/*------ Inicio DA SESSAO GARANTIA DE CARTAO ------*/

.sessao_garantia_cartao {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;

    & .card_sessao_garantia_cartao {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3%;
        background: #0B0B0B;
        background: linear-gradient(90deg, rgba(11, 11, 11, 1) 0%, rgba(26, 13, 12, 1) 51%, rgba(170, 35, 21, 1) 100%);
        border-radius: 10px;
        width: 70%;
        gap: 30px;
    }

    & .texto_garantia_cartao {
        color: white;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    & .titulo_garantia_cartao {
        font-size: 40px;
    }

    & .titulo_garantia_cartao span {
        background: linear-gradient(90deg, rgba(255, 71, 71, 1) 22%, rgba(246, 227, 35, 1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    & .subtitulo_garantia_cartao {
        font-size: 17px;
    }

    & a {
        background: #FFFE4A;
        background: linear-gradient(177deg, rgba(255, 254, 74, 1) 22%, rgba(255, 217, 1, 1) 78%);
        text-decoration: none;
        color: black;
        width: 50%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        border-radius: 15px;
        font-weight: bold;
        transition: 0.5s;
    }

    & a:hover {
        transition: 0.5s;
        transform: scale(1.05);
    }

    & a img {
        height: 24px;
        width: 24px;
    }
}

/*------ fim DA SESSAO GARANTIA DE CARTAO ------*/

/*------ INICIO DA SESSAO DE PERGUNTAS FREQUENTES ------*/

.sessao_perguntas_frequentes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    background-color: #1A1A1A;
    color: white;
    gap: 25px;

    & .titulo {
        font-size: 24px;
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    & .titulo span {
        font-weight: normal;
        font-size: 19px;
        color: #F7C417;
    }

    & a {
        background: #FFFE4A;
        background: linear-gradient(177deg, rgba(255, 254, 74, 1) 22%, rgba(255, 217, 1, 1) 78%);
        text-decoration: none;
        color: black;
        width: 20%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        border-radius: 15px;
        font-weight: bold;
        transition: 0.5s;
    }

    & a:hover {
        transition: 0.5s;
        transform: scale(1.05);
    }

    & a img {
        height: 24px;
        width: 24px;
    }

    & .logo_garaherb {
        width: 55%;
    }
}

.lista_perguntas {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    & details {
        background-color: white;
        border-radius: 5px;
        padding: 2%;
        width: 90%;
        color: black;
    }

    & details p {
        padding: 1%;
    }
}

.lista_perguntas summary {
    cursor: pointer;
    font-weight: bold;
}


/*------ FIM DA SESSAO DE PERGUNTAS FREQUENTES ------*/

/*------ INICIO DO RODAPE ------*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & .rodape_termos {
        display: flex;
        flex-wrap: wrap;
        background-color: #F7C417;
        width: 100%;
        padding: 1%;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 15px;
    }

    & .rodape_informacoes_produto {
        background-color: black;
        color: white;
        padding: 1%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    & .rodape_informacoes_produto p {
        width: 80%;
        font-size: 15px;
        text-align: center;
    }

    & .rodape_direitos_autorais {
        padding: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4px;
        font-size: 13px;
    }



}

/*------ FIM DO RODAPE ------*/

/*------ Responsividade da pag ------*/

@media (max-width: 800px) {
    header {
        flex-wrap: wrap-reverse;
    }

    .texto_cabecalho {
        width: 60%;
        padding: 3%;
        justify-content: center;
        align-items: center;
    }

    header .texto_cabecalho h1,
    header .texto_cabecalho .titulo_cabecalho,
    header .texto_cabecalho .oferta_cabecalho,
    header .texto_cabecalho .subtitulo_cabecalho,
    header .texto_cabecalho .beneficios_cabecalho {
        text-align: center;
    }

    .sessao_informacoes_suplemento {
        padding: 2%;
    }

    .texto_info_suplemento {
        width: 50%;
    }

    .texto_info_suplemento_segundo {
        width: 50%;
    }

    .sessao_informacoes_suplemento_segundo {
        background-position: 20%;
    }

    .card_sessao_garantia_cartao img {
        width: 50%;

    }
}

@media (max-width: 600px) {
    .sessao_kits {
        gap: 20px;

        & .kit,
        .kit_meio {
            width: 80%;
        }

        & .topo_kit,
        .topo_kit_meio {
            width: 90%;
        }
    }

    .sessao_beneficios_suplemento {
        & a {
            width: 50%;
        }

        & .titulo_beneficios_suplemento {
            text-align: center;
        }
    }

    .componentes_beneficios_suplemento {

        & .comp_beneficios_suplemento {
            width: 40%;
            gap: 5px;
            height: 320px;
        }
    }
}

@media (max-width: 500px) {
    header {
        width: 98%;
        padding-bottom: 10%;

        & .beneficios_cabecalho {
            text-align: center;
            align-items: center;
            justify-content: center;
        }
    }

    .texto_cabecalho {
        width: 97%;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .sessao_informacoes_suplemento {
        flex-direction: column;

        & img {
            width: 100%;
        }

        & .texto_info_suplemento {
            padding: 5%;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 15px;
        }
    }

    .componentes_beneficios_suplemento {
        & .comp_beneficios_suplemento {
            width: 40%;
            height: 260px;

            & img {
                width: 60%;
                object-fit: contain;
                padding-bottom: 0;
            }
        }

        & .texto_comp_beneficios_suplemento span {
            font-size: 15px;
            font-weight: bold;
        }
    }

    .sessao_informacoes_suplemento_segundo {
        flex-direction: column;
        background-image: none;
        gap: 50px;

        & .img_principal_info_suplemento_segundo {
            width: 80%;
            padding-top: 5%;
        }
    }

    .texto_info_suplemento_segundo {
        width: 95%;
        text-align: center;
        align-items: center;
    }

    .sessao_avaliacao_pessoas {

        & .texto_cabecalho_avaliacao_pessoas {
            font-size: 20px;
            text-align: center;
        }

        & a {
            width: 50%;
        }
    }

    .componentes_avaliacao {
        & .comp_avaliacao {
            width: 45%;
        }

        & .comp_avaliacao {
            & .nome_idade_avaliador {
                text-align: center;
                padding: 3%;
            }
        }
    }

    .sessao_frete_gratis {
        & img {
            width: 20%;
        }
    }

    .textos_frete_gratis {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & .titulo_frete_gratis {
            font-weight: bold;
            font-size: 15px;
        }

        & .subtitulo_frete_gratis {
            font-size: 13px;
        }
    }

    .sessao_estoque_limitado {

        & .texto_estoque_limitado {
            font-weight: bold;
            font-size: 15px;
            width: 60%;
            text-align: center;
        }
    }

    .sessao_classificacao {
        font-size: 12px;
    }

    .sessao_garantia_cartao {

        & .card_sessao_garantia_cartao {
            width: 100%;
            flex-direction: column;
        }

        & .titulo_garantia_cartao {
            font-size: 30px;
        }

        & .texto_garantia_cartao {
            width: 90%;
            text-align: center;
            align-items: center;
        }

        & a {
            width: 70%;
        }
    }

    .sessao_perguntas_frequentes {
        & .logo_garaherb {
            width: 100%;
        }

        & a {
            width: 60%;
        }
    }
    footer {

    & .rodape_termos {
      gap: 10px;
    }
        & .rodape_informacoes_produto p {
        width: 80%;
    }
    }

}

/*------ final Responsividade da pag ------*/